<div class="main-content">

    <!-- Stories Section -->

    <div class="story-gallery">
        <div class="story story1">
            <img src="https://i.postimg.cc/TPh453Zz/upload.png" style="height: 35px;">
            <p>Post Story</p>
        </div>
        <div class="story" *ngFor="let member of members; let i = index;"
            [style.backgroundImage]="'url(' + member.image + ')'">
            <img [src]="member.profile_img" [alt]="member.name">
            <p>{{ member.name }}</p>
        </div>
    </div>


    <!-- Write Post Container Section -->

    <div class="write-post-container">
        <div class="user-profile">
            <img [src]="userProfilePic">
            <div>
                <p>{{ userName }}</p>
                <small>Public <i class="fas fa-caret-down"></i></small>
            </div>
        </div>
        <div class="post-input-container">
            <textarea rows="3" placeholder="What's on your mind,{{getFirstName(userName)}} "
                [value]="postContent"></textarea>
            <div class="add-post-links">
                <a href="#"><img src="https://i.postimg.cc/QMD2BDXs/live-video.png">Live Video</a>
                <a href="#"><img src="https://i.postimg.cc/6pKKZn0D/photo.png">Photo/Video</a>
                <a href="#"><img src="https://i.postimg.cc/Pf6TBCdD/feeling.png">Feling/Activity</a>
            </div>
        </div>
    </div>


    <!-- Feed Post Container Section -->

    <div>
        <div class="post-container" *ngFor="let post of posts; let i = index;">
            <div class="post-row">
                <div class="user-profile">
                    <img [src]="post.profilePic">
                    <div>
                        <p>{{ post.userName }}</p>
                        <span>{{ post.timestamp }}</span>
                    </div>
                </div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            <p class="post-text">{{ post.postText }}</p>
            <img [src]="post.imageSrc" class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">{{post.like}}</div>
                    <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">{{post.Comments}}</div>
                    <div><img src="https://i.postimg.cc/T2bBchpG/share.png">{{post.shares}}</div>
                </div>
                <div class="post-porfile-icon">
                    <img [src]="post.profilePic"><i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
    </div>


    <button type="button" class="load-more-btn">Load More</button>
</div>