.container {
  display: flex;
  justify-content: space-between;
  padding: 14px 5%;
}

app-leftside {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}

app-rightside {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  color: #626262;
}

app-maincontent {
  flex-basis: 47%;
}
