<div class="right-sidebar">


    <!-- Event Section  -->

    <div class="sidebar-title">
        <h4>Events</h4>
        <a href="#">See All</a>
    </div>




    <div *ngFor="let event of events" class="event">
        <div class="left-event">
            <h3>{{ event.date }}</h3>
            <span>{{ event.month }}</span>
        </div>
        <div class="right-event">
            <h4>{{ event.title }}</h4>
            <p><i class="fas fa-map-marker-alt"></i> {{ event.location }}</p>
            <a [href]="event.link">More Info</a>
        </div>
    </div>


    <!-- Advertisement Section  -->

    <div class="sidebar-title">
        <h4>Advertisement</h4>
        <a href="#">close</a>
    </div>


    <img src={{ads_img}} class="siderbar-ads">


    <!-- Conversation Section  -->

    <div class="sidebar-title">
        <h4>Conversation</h4>
        <a href="#">Hide Chat</a>
    </div>

    <div *ngFor="let member of members" class="online-list">
        <div class="online">
            <img [src]="member.imageSrc">
        </div>
        <p>{{ member.name }}</p>
    </div>
</div>